/*!
 * Movies 
 *
 * Copyright 2013 Nicolas Devenet
 */

html {position:relative; min-height:100%;}
body {border-top:6px solid #428bca;}

a.normal {text-decoration: none;}
.tip {cursor: default;}
a.tip {cursor: pointer;}

label.text-muted {color: rgb(153, 153, 153);}
.form-controls {border-top: 1px solid rgb(200,200,200); padding: 15px 0; margin: 30px 0 20px; background: rgb(245,245,245); overflow: hidden;}
.espace-top {margin-top: 20px;}
.espace-top-sm {margin-top: 10px;}
.espace-top-lg {margin-top: 40px;}
.espace-bottom {margin-bottom: 20px;}
.espace-bottom-lg {margin-bottom: 40px;}
.espace-left {margin-left: 20px;}
.espace-left-sm {margin-left: 10px;}
.espace-right {margin-right: 20px;}
.espace-right-sm {margin-right: 10px;}
.no-espace-top {margin-top: 0;}
.no-espace-bottom {margin-bottom: 0;}

header {margin: 20px 0 10px;}
header h1 {display: inline;}
header .navbar-brand {font-family:Georgia,"DejaVu Serif","Bistream Vera Serif","Liberation Serif",serif;}
header .navbar-brand img {margin-right: 5px;}
header .navbar-brand:hover {color:#428bca;}
.page-header h2 {margin-top: 0;}
.navbar-movies li a {border-bottom: 1px solid #f8f8f8;}
.navbar-movies li.active a, .navbar li a:hover {border-bottom: 1px solid #428bca; color:#428bca;}
.navbar-movies li.rss a:hover {color: #FF7A4D; border-color: #FF7A4D;}
footer {margin: 20px auto 20px;}
footer hr {border-top:2px solid #428bca;}
footer p {font-size: 12px;}
footer a.normal {color: #888;}
footer a.normal:hover {color: #555; text-decoration: underline;}

.rss-feeds a {text-decoration: none;}
.rss-feeds a i {color: #FF7A4D;}

article.movies {margin-bottom: 20px;}
article.movies h2 a {text-decoration: none;}
article.movies h2 small {display: block; font-size: 14px;}
article.movies .row {margin-top: 20px;}
article.movies .kinds {font-size: 12px;}
.stars {margin: 10px auto; font-size: 16px;}
.stars i {margin-right: 2px;}
.stars.stars-0 {color: #999999;}
.stars.stars-1 {color: #CF5B59;}
.stars.stars-2 {color: #f0ad4e;}
.stars.stars-3 {color: #9272C2;}
.stars.stars-4 {color: #428bca;}
.stars.stars-5 {color: #468847;}
article ul.text-muted a {color: rgb(153,153,153);}

article.movie .page-header {margin-top: 0; margin-bottom: 15px;}
article.movie h2 {margin-bottom: 0; position: relative; color: #444;}
article.movie h2 a {text-decoration: none;}
article.movie h2 a.online {font-size: 16px; vertical-align: super;}
article.movie h2 .tooltip .tooltip-inner {font-size: 12px; font-weight: normal;}
article.movie h3 {font-size: 18px; color: rgb(153,153,153); font-weight: normal; margin-top: 15px;}
article.movie .synopsis {font-size:16px;font-family:Georgia,"DejaVu Serif","Bistream Vera Serif","Liberation Serif",serif;}
article.movie .stars {margin-top: 20px; letter-spacing: 2px;}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {background-color: rgb(245, 245, 245); border-color: #dddddd; color:rgb(153, 153, 153);}
.highlight {background-color: #FFFF6F; border-radius:4px;}

@media(max-width: 767px) {
	header nav div {overflow: visible !important;}
	header .pull-right {float: none !important;}
	.movie .aside p, .movie .aside li {display: inline; margin-right: 15px;}
	.movie .aside ul {display: inline;}
	.movie .aside {margin-bottom: 20px;}
	.navbar li a {border:none !important;}
}