<!doctype html>
<html class="h-100">
<head>
  {include="page.head"}
  <style>
    @media (min-width: 576px) {
      .columns {
        column-count: 2;
        column-gap: .5em;
      }
    }
    @media (min-width: 992px) {
      .columns {
        column-count: 3;
        column-gap: 1em;
      }
    }
  </style>
</head>
<body class="d-flex flex-column h-100">
  <div class="flex-shrink-0">
    {include="page.header"}

    <main class="container">
      <h1>Export de films</h1>

      <p>
        Cette page vous permet d’exporter vos films dans un fichier JSON.
        <br>Vous pouvez l’utiliser comme sauvegarde ou pour les importer ailleurs.
      </p>

      <form class="row mb-3 mt-4" method="post">
        <fieldset class="row mb-3">
          <legend class="col-form-label col-lg-2 pt-0">Vie privée</legend>
          <div class="col-lg-10">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="privacy" id="privacy">
              <label class="form-check-label" for="privacy">Garder mes données privées</label>
            </div>
            <div class="form-text">Cette option permet de ne pas exporter les informations de visionnage des films, leur note et leur possession.</div>
          </div>
        </fieldset>
        <fieldset class="row mb-3">
          <legend class="col-form-label col-lg-2 pt-0">Affiches</legend>
          <div class="col-lg-10">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="images" id="images">
              <label class="form-check-label" for="images">Exporter les affiches</label>
            </div>
            <div class="form-text">
              Les images seront exportées sous forme de données en base64.
              <br><span class="text-warning">Cela peut très fortement alourdir le fichier.</span>
            </div>
          </div>
        </fieldset>

        <fieldset class="row mb-3">
          <legend class="col-form-label col-lg-2 pt-0" id="movies-export">Films à exporter</legend>
          <div class="col-lg-10">
            <div class="columns">
            {loop="movies"}
              <div class="form-check">
                <input class="form-check-input btn-toggle" type="checkbox" name="movie[{$value.id}]" id="movie[{$value.id}]" checked>
                <label class="form-check-label" for="movie[{$value.id}]">{$value.title}</label>
              </div>
            {/loop}
            </div>
          </div>
        </fieldset>

        <input type="hidden" name="token" value="{$token}">

        <div class="row mb-3 mt-4">
          <div class="col-lg-10 offset-lg-2">
            <button type="submit" class="btn btn-primary">Exporter</button>
            <button type="reset" class="btn btn-outline-secondary ms-2">Remettre à zéro</button>
          </div>
        </div>
      </form>

    </main>
  </div>

  {include="page.footer"}
  <script>
    var parent = document.createElement('div'), btn = document.createElement('btn'), checked = true;
    parent.className = 'mt-1 mb-2';
    btn.className = 'btn btn-sm btn-outline-primary';
    btn.addEventListener('click', function(event) {
      checked = !checked;
      var e = document.getElementsByClassName('btn-toggle');
      for (var i = 0, l = e.length; i < l; i++)
        e[i].checked = checked;
    });
    btn.appendChild(document.createTextNode('Tout inverser'));
    parent.appendChild(btn);
    document.getElementById('movies-export').appendChild(parent);
  </script>
</body>
</html>