<!doctype html>
<html class="h-100">
<head>
  {include="page.head"}
</head>
<body class="d-flex flex-column h-100">
  <div class="flex-shrink-0">
    {include="page.header"}

    <main class="container">
      <h1 class="mb-3">Settings</h1>

      {if="isset($_GET['updated'])"}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <b>Alright.</b> Settings have been well updated.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {/if}

      <form class="mb-3" method="post">
        <div class="row mb-3">
          <label for="login" class="col-lg-2 col-form-label">Username</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="login" name="login" value="{$settings_username}" aria-describedby="h_login" disabled>
            <div id="h_login" class="form-text">To change your username, please delete file <code>{$settings_file}</code>.</div>
          </div>
        </div>
        <div class="row mb-3">
          <label for="password" class="col-lg-2 col-form-label">Password</label>
          <div class="col-lg-10">
            <input type="password" class="form-control" id="password" name="password" placeholder="Secret" aria-describedby="h_password">
            <div id="h_password" class="form-text">Leave blank to keep your current password.</div>
          </div>
        </div>

        <div class="row mb-3 mt-4">
          <label for="title" class="col-lg-2 col-form-label">Title</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="title" name="title" placeholder="Movies" value="{#TITLE#}">
          </div>
        </div>
        <div class="row mb-3">
          <label for="author" class="col-lg-2 col-form-label">Author</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="author" name="author" placeholder="Alan Turing" value="{#AUTHOR#}" aria-describedby="h_author">
            <div id="h_author" class="form-text">
              Used for copyright notice and for social sharing (when you post the link of a movie page).
              <br>If not set, your username will be used.
            </div>
          </div>
        </div>
        <fieldset class="row mb-3">
          <legend class="col-form-label col-lg-2 pt-0">Robots</legend>
          <div class="col-lg-10">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="robots[]" value="index" id="robots_index" {if="$settings_robots.index"}checked="checked"{/if}>
              <label class="form-check-label" for="robots_index">Index</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="robots[]" value="follow" id="robots_follow" {if="$settings_robots.follow"}checked="checked"{/if}>
              <label class="form-check-label" for="robots_follow">Follow</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="robots[]" value="archive" id="robots_archive" {if="$settings_robots.archive"}checked="checked"{/if}>
              <label class="form-check-label" for="robots_archive">Archive</label>
            </div>
          </div>
        </fieldset>

        <div class="row mb-3">
          <label for="theme" class="col-lg-2 col-form-label">Theme</label>
          <div class="col-lg-10">
            <select class="form-select" id="theme" name="theme">
              {loop="settings_themes"}<option value="{$value}" {if="$settings_theme == $value"}selected{/if}>{$value}</option>{/loop}
            </select>
          </div>
        </div>

        <div class="row mb-3 mt-4">
          <label for="pagination" class="col-lg-2 col-form-label">Movies per page</label>
          <div class="col-lg-10">
            <input type="number" class="form-control" id="pagination" name="pagination" placeholder="10" value="{#PAGINATION#}" min="2" step="1" aria-describedby="h_pagination">
            <div id="h_pagination" class="form-text">Default is 10 per page. Must be greater than or equal to 2.</div>
          </div>
        </div>

        <input type="hidden" name="token" value="{$token}">

        <div class="row mb-3 mt-4">
          <div class="col-lg-10 offset-lg-2">
            <button type="submit" class="btn btn-primary">Update</button>
            <button type="reset" class="btn btn-outline-secondary ms-2">Reset</button>
          </div>
        </div>
      </form>

    </main>
  </div>

  {include="page.footer"}
</body>
</html>