<!doctype html>
<html class="h-100">
<head>
  {include="page.head"}
</head>
<body>
<body class="d-flex flex-column h-100">
  <div class="flex-shrink-0 mb-5">
    {include="page.header"}

    <main class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <h1>Damn!</h1>
    
          <div class="mt-4 card border-danger">
            <div class="card-header border-danger bg-danger text-white"><i class="bi bi-exclamation-circle"></i> {$error_title}</div>
            <div class="card-body">
              {$error_content}
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>

  {include="page.footer"}
</body>
</html>